/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ibarra Real Nova', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ibarra Real Nova', serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 4rem;
  padding: 2%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
}
header h1 {
  font-size: 6rem;
  width: 50%;
  text-transform: uppercase;
  color: #000000b5;
}
@media (max-width: 1000px) {
  header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  header h1 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
  }
}
header nav a {
  font-size: 2rem;
  text-decoration: none;
  color: #000000b5;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  header nav a {
    font-size: 1.8rem;
  }
}
@media (max-width: 800px) {
  header nav a {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1rem;
  }
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #bebebe;
}
.navigation h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #000000b5;
  width: 40%;
}
.navigation nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
.navigation nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000b5;
}
.hero {
  margin-bottom: -7rem;
}
@media (max-width: 1000px) {
  .hero {
    margin-bottom: -3rem;
  }
}
@media (max-width: 500px) {
  .hero {
    margin-bottom: -2rem;
  }
}
.hero img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  overflow: hidden;
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.home h2 {
  margin-left: 10rem;
  width: 40%;
  text-align: center;
  height: 50%;
  line-height: 2;
  font-size: 5rem;
  text-transform: capitalize;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home h2 {
    height: 50%;
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .home h2 {
    font-size: 2.2rem;
    width: 100%;
    margin-left: 0;
  }
}
.home .form {
  width: 40%;
  height: 85%;
}
@media (max-width: 1000px) {
  .home .form {
    height: 90%;
  }
}
@media (max-width: 800px) {
  .home .form {
    height: 70%;
  }
}
@media (max-width: 500px) {
  .home .form {
    display: none;
  }
}
.home .form h4 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form h4 {
    font-size: 1.5rem;
  }
}
.home .form form {
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1000px) {
  .home .form form {
    box-shadow: none;
  }
}
.home .form form .name {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
}
@media (max-width: 1000px) {
  .home .form form .name {
    justify-content: center;
    align-items: center;
  }
}
.home .form form .name label {
  font-size: 2rem;
  margin: 0.8rem 0;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form form .name label {
    font-size: 1.3rem;
  }
}
.home .form form .name input {
  font-size: 1.5rem;
  text-decoration: none;
  outline: none;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form form .name input {
    font-size: 1.3rem;
  }
}
.home .form form .options {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  outline: none;
}
@media (max-width: 1000px) {
  .home .form form .options {
    justify-content: center;
    align-items: center;
  }
}
.home .form form .options label {
  font-size: 2rem;
  margin: 2rem 0;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form form .options label {
    font-size: 1.3rem;
  }
}
.home .form form .options input {
  font-size: 1.5rem;
  text-decoration: none;
  outline: none;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form form .options input {
    font-size: 1.3rem;
  }
}
.home .form form .options textarea {
  height: 7rem;
  outline: none;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form form .options textarea {
    font-size: 1.3rem;
    height: 4rem;
  }
}
.home .form form .options button {
  font-size: 1.5rem;
  margin: 2.5rem auto 5rem auto;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .home .form form .options button {
    font-size: 1.3rem;
    margin: 1rem 1.5rem;
  }
}
.mission {
  display: flex;
  flex-direction: column;
  background-color: #d7d7d7;
  margin: 5rem 4rem 2rem 4rem;
}
.mission .intro {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.mission .intro h1 {
  width: 100%;
  margin-bottom: 1.5rem;
  color: #000000b5;
}
.mission .about {
  width: 50%;
  text-align: center;
}
.mission .about h2 {
  width: 100%;
  margin-bottom: 1.5rem;
  color: #000000b5;
}
main {
  margin: auto 4rem;
  padding: 2%;
  padding-top: 0;
}
main img {
  margin-bottom: 2rem;
  width: 20%;
}
main .leader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d7d7d7;
}
main .leader h2 {
  color: #000000b5;
  margin-top: 2rem;
}
main .leader .lead {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .leader .lead h4 {
  font-size: 2rem;
  color: #000000b5;
  margin-bottom: 1rem;
}
main .leader .lead p {
  text-align: center;
}
main .team-member {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d7d7d7;
  margin-top: 2rem;
}
main .team-member .title {
  text-align: center;
  margin: 2rem auto;
  width: 100%;
}
main .team-member .title h2 {
  color: #000000b5;
}
main .team-member .members {
  width: 45%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .team-member .members h4 {
  font-size: 2rem;
  color: #000000b5;
  margin-bottom: 1rem;
}
main .team-member .members p {
  text-align: center;
}
.style,
.color {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
}
@media (max-width: 1000px) {
  .style,
  .color {
    flex-direction: column;
  }
}
.style h3,
.color h3 {
  width: 70%;
  text-align: center;
  margin: 1.5rem auto;
}
.style p,
.color p {
  width: 70%;
}
.style {
  background-color: #00000014;
}
.style .col-1-of-3 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
@media (max-width: 1000px) {
  .style .col-1-of-3 {
    width: 80%;
    margin: 2rem 4rem;
  }
}
@media (max-width: 500px) {
  .style .col-1-of-3 {
    width: 100%;
    padding: 1rem;
  }
}
.style .col-1-of-3 img {
  width: 70%;
}
.color {
  background-color: #00000014;
}
.color .col-1-of-2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
@media (max-width: 1000px) {
  .color .col-1-of-2 {
    width: 80%;
    margin: 2rem 4rem;
  }
}
@media (max-width: 500px) {
  .color .col-1-of-2 {
    width: 100%;
    padding: 1rem;
  }
}
.color .col-1-of-2 img {
  width: 70%;
}
.different-section h2 {
  text-align: center;
  text-transform: uppercase;
  color: #000000b5;
}
@media (max-width: 1000px) {
  .different-section h2 {
    font-size: 2.5rem;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .different-section h2 {
    font-size: 2rem;
  }
}
footer {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #000000b5;
}
@media (max-width: 500px) {
  footer {
    font-size: 2.2rem;
  }
}
