.style,
.color {
  width: 90%;
  margin: 0 auto;  
  .flex(space-between, center);
  margin: 5rem auto;

  h3 {
    text-align: center;
    margin: 1.5rem auto;
    font-family: 'Cookie', cursive;
    
    @media @tablet {
      margin: auto 3rem;
      font-size: 2.2rem;
    }
  }

  p {
    font-size: 1.6rem;

    @media @phone {
      font-size: 1.2rem;
    }
  }

}

.style {
  background-color: @background;
  .flex(space-between,center);

  @media @tablet {
    flex-direction: column;
  }

  #reverse {
    @media @phone {
      flex-direction: row-reverse;
    }
  }

  .col-1-of-3 {
    width: 30%;
    .flex(center, center);
    flex-direction: column;
    padding: 3rem;

    @media @desktop {
      width: 30%;
      margin: 2rem 4rem;
    }
    
    @media @tablet {
      width: 100%;
      flex-direction: row;
    }

    @media @phone {
      width: 100%;
      padding: 1rem;

    }
    
    img {
      width: 60%;
      border-radius: 50%;

      @media @desktop {
        width: 45%;
      }

      @media @tablet {
        width: 20%;
      }
    }
  }
}

.color {
  background-color: @background;
  .flex(space-between,center);

  @media @tablet {
    flex-direction: column;
  }

  #reverse {
    @media @phone {
      flex-direction: row;
    }
  }

  .col-1-of-2 {
    width: 40%;
    .flex(center, center);
    flex-direction: column;
    padding: 3rem;

    @media @desktop {
      width: 80%;
      margin: 2rem 4rem;
    }

    @media @tablet {
      width: 100%;
      flex-direction: row-reverse;
    }

    @media @phone {
      width: 100%;
      padding: 1rem;
    }

    img {
      width: 60%;
      border-radius: 50%;

      @media @tablet {
        width: 20%;
      }
    }
  }
}









