.hero {
  margin-bottom: -7rem;
  
  @media @desktop {
    margin-bottom: -3rem;
  }

  @media @phone {
    margin-bottom: -2rem;
  }

  img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    overflow: hidden;
  }

}

.home {
  .flex(space-around, center);
  height: 100vh;


  h2 {
    margin-left: 10rem;
    width: 40%;
    text-align: center;
    height: 50%;
    line-height: 2;
    font-size: 5rem;
    text-transform: capitalize;
    color: @text-color;

    @media @desktop {
      height: 50%;
      font-size: 3rem;
    }

    @media @phone {
      font-size: 2.2rem;
      width: 100%;
      margin-left: 0;
    }
  }

  .form {
    width: 40%;
    height: 85%;

    @media @desktop {
      height: 90%;
    }

    @media @tablet {
      height: 70%;
    }

    @media @phone {
      display: none;
    }

    h4 {
      text-align: center;
      font-size: 2.5rem;
      color: @text-color;

      @media @desktop {
        font-size: 1.5rem;
      }
    }

    form {
      width: 100%;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      
      @media @desktop {
        box-shadow: none;
      }
      

      .name {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2%;

        @media @desktop {
          justify-content: center;
          align-items: center;
        }
      
        label {
          font-size: 2rem;
          margin: .8rem 0;
          color: @text-color;

          @media @desktop {
            font-size: 1.3rem;
          }
        }
      
        input {
          font-size: 1.5rem;
          text-decoration: none;
          outline: none;
          color: @text-color;

          @media @desktop {
            font-size: 1.3rem;
          }
        }
      }

      .options {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2%;
        outline: none;
        
        @media @desktop {
          justify-content: center;
          align-items: center;
        }
      
        label {
          font-size: 2rem;
          margin: 2rem 0;
          color: @text-color;

          @media @desktop {
            font-size: 1.3rem;
          }
        }
      
        input {
          font-size: 1.5rem;
          text-decoration: none;
          outline: none;
          color: @text-color;

          @media @desktop {
            font-size: 1.3rem;
          }
        }
      
        textarea {
          height: 7rem;
          outline: none;
          color: @text-color;

          @media @desktop {
            font-size: 1.3rem;
            height: 4rem;
          }
        }
      
        button {
          font-size: 1.5rem;
          margin: 2.5rem auto 5rem auto;
          color: @text-color;

          @media @desktop {
            font-size: 1.3rem;
            margin: 1rem 1.5rem;
          }
        }
      }
    }
  }
}

// About page 

.mission {
  display: flex;
  flex-direction: column;
  background-color: @background;
  margin: 5rem 4rem 2rem 4rem;

  .intro {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      width: 100%;
      margin-bottom: 1.5rem;
      color: @text-color;
    }
  }

  .about {
    width: 50%;
    text-align: center;

    h2 {
      width: 100%;
      margin-bottom: 1.5rem;
      color: @text-color;
    }
  }
}
main {
  margin: auto 4rem;
  padding: 2%;
  padding-top: 0;
  
  img {
    margin-bottom: 2rem;
    width: 20%;
  }
  
  .leader {
    .flex(center, center);
    flex-direction: column;
    background-color: @background;

    h2 {
      color: @text-color;
      margin-top: 2rem;
    }

    .lead {
      width: 50%;
      margin: 2rem auto;
      .flex(center,center);
      flex-direction: column;

      h4 {
        font-size: 2rem;
        color: @text-color;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
      }
    }
  }

  

  .team-member {
    .flex(space-evenly, center);
    flex-wrap: wrap;
    background-color: @background;
    margin-top: 2rem;

    .title {
      text-align: center;
      margin: 2rem auto;
      width: 100%;
      
      h2 {
        color: @text-color;
      }
    }

    .members {
      width: 45%;
      margin: 2rem auto;
      .flex(center,center);
      flex-direction: column;

      h4 {
        font-size: 2rem;
        color: @text-color;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
      }
    }
  }
}


