header {
  .flex(space-between, center);
  margin: auto 4rem;
  padding: 2%;

  @media @desktop {
    margin: 0;
  }

  @media @phone {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 6rem;
    width: 50%;
    text-transform: capitalize;
    color: @text-color;
    
    span {
      font-size: 2rem;
      font-family: 'Satisfy', cursive;
      margin-left: 2rem;

      @media @phone {
        font-size: 1.5rem;
      }
    }


    @media @desktop {
      font-size: 3rem;
    }

    @media @tablet {
      font-size: 2rem;
    }

    @media @phone {
      width: 70%;
      text-align: left;
    }

  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    @media @phone {
      width: 30%;
    }

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: @text-color;
      text-transform: uppercase;

      @media @desktop {
        font-size: 1.8rem;
      }

      @media @tablet {
        font-size: 1.4rem;
      }

      @media @phone {
        font-size: 1rem;
      }
    }
  }
}

// About page

.navigation {
  .flex(space-around, center);
  padding: 1%;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgb(190, 190, 190);

  h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: @text-color;
    width: 40%;
  }

  nav {
    .flex(space-evenly, center);
    width: 60%;

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: @text-color;
    }
  }
}


