// Colors
@text-color: #000000b5;
@dark-grey: #00000014;

@background: #ffe4e1;
@background-about: #ffebcd;

@nav-about: #ffdfaf;

// Text-shadow
@text-shadow-1: .5rem .5rem 1rem black;
@text-shadow-2: .2rem .2rem 1rem;
@text-shadow-3: .2rem .2rem .5rem rgb(160, 139, 255);

// Media queries

@phone: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
@desktop: ~'(max-width: 1000px)';